
@font-face {
    font-family: Lato_Bold;
    src: url(fonts/Lato_Bold.ttf);
}

@font-face {
    font-family: Lato_Regular;
    src: url(fonts/Lato_Regular.ttf);
}

/*/!*==================================================================================*!/*/
.ui-btn,.ui-content,.ui-footer{
	font-family: Lato_Regular !important;
}
.font12{
	font-size: 12px;
}
.margin1{
	margin: 1px !important;
}

a{
	text-decoration: none !important;
	color: #000000 !important;
}
.search-block{
	display: inline-block;
	border: 1px solid #000000;
	margin: 5px;
}

.inline-block{
	display: inline-block;
}

.hidden{
	display: none;
}
.center{
	text-align: center;
}
/*/!*==================================================================================*!/*/

.ui-footer {
	border: 1px solid #A9ABAE !important;
}

.ui-footer .ui-navbar .ui-btn{
	color:#000000;
	border: 1px solid #A9ABAE !important;
}

.ui-footer .ui-navbar .ui-btn-active{
	text-decoration: none !important;
	outline:none  !important;
}

.active-nav{
	background: #A9ABAE !important;
	color: #FFFFFF !important;
}

/*/!*==================================================================================*!/*/


.X100{
    width: 100px !important;
    height: 100px !important;
}

.X200{
    width: 200px !important;
    height: 200px !important;
}

.X300{
    width: 300px !important;
    height: 300px !important;
}


/*/!*------------------------------------ALERTBOX----------------------------------------*!/*/
.ui-simpledialog-container{
	border: 0 !important;
	-webkit-border-radius: 1.2em !important;
	border-radius: 1.2em !important;
	font-family: Lato_Regular !important;
	background: #FFFFFF !important;
}
.alertBoxContents{
	-webkit-border-radius: 1.2em !important;
	border-radius: 1.2em !important;
	text-align: center;
    padding: 10px;
}

.alertBoxContents .ui-btn-inner{
	background: #A9ABAE !important;
}

.ui-dialog .ui-content{
	background:#5FBB51 !important;
	color: #FFFFFF;
}
.ui-dialog .ui-dialog-contain{
	max-width: 350px;
	text-align: center;
}

/*--------------------------------------POPUP BOX--------------------------------------*/
.ui-popup{
    padding:10px;
    text-align: center;
}

.popup_box{
	background:#5FBB51 !important;
	color: #FFFFFF;
	text-align: center;
}


/**----------------------------------LOADER ICON-------------------------------------**/
.ui-icon-loading {
    background: url(images/load.gif) !important;
    background-size: 46px 46px !important;
}

.ui-loader .ui-icon{
	width: 0 !important;
	height:0 !important;
}
.ui-loader{
	font-family: Lato_Regular !important;
	padding-bottom: 25px !important;
	padding-top: 20px !important;
}
.ui-loader-verbose h1{
	font-size: 22px !important;
}
.ui-loader-verbose{
	margin-top: -43px;
}

/*/!*------------------------------------------HEADER--------------------------------------*!/*/

.ui-header{
	background: #FFFFFF !important;
	color:#000000 !important;
	border: 0 !important;
	min-height:50px !important;
	border-bottom: 1px solid #A9ABAE !important;
}

.ui-header h1{
    position: relative;
    top: 14px;
	font-family: Lato_Regular !important;
}


/*/!* ======================================================================= *!/*/


.checkout-btn,.checkout-collection-btn{
	margin-left: 3%;
    margin-right: 3%;
}

.grey-btn{
	background: #A9ABAE !important;
	color: #FFFFFF !important;
}

.mess{
	width: 325px !important;
    height: 215px !important;
}