<?xml version='1.0' encoding='utf-8'?>
<widget id="com.app.peek" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MENS STORE</name>
    <description>
        MENS STORE
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        K2A
    </author>

    <icon src="res/icon.png" />

    <platform name="android">
      <!-- you can use any density that exists in the Android project -->
      <splash src="res/android/splash-land-ldpi.png" density="land-ldpi"/>
      <splash src="res/android/splash-land-mdpi.png" density="land-mdpi"/>
      <splash src="res/android/splash-port-mdpi.png" density="port-mdpi"/>
    </platform>

    <content src="index.html" />
    <access origin="*" />
</widget>
